body {
    background-image: url("../images/Independence-Day-DI.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-color: #131836;
    font-family: "Arial, Helvetica Neue, Helvetica, sans-serif";
    color: #777777;
    margin: auto;
    padding: 0;
}

a:link, a:visited {
    color: #aeacb0;
    text-decoration: none;
}

a:hover {
    color: yellow;
}

header {
    background-color: transparent;
    font-family: "Georgia, Times, Times New Roman, Serif";
    border-bottom: 3px solid #cccccc;
}

h1 {
    margin-bottom: 0px;
    font-size: 28px;
    color: white;
    text-shadow: 3px 1px black;
    text-align: center;
    background-color: transparent;
    padding: 20px 0 20px 0;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
}

h2 {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 24px;
    margin: 10px;
    border-bottom: 3px solid #e1e1e1;
    background: none;
    color: white;
    text-shadow: 3px 2px black;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    font-weight: bold;
    padding: 25px;
    padding-left: 5px;
}

footer {
    background: #666666;
    border-top: 7px solid #4aaaa5;
    position: relative;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.container {
    background: transparent;
    padding: 0;
    margin: auto;
    width: 65%;
    position: relative;
    top: 35px
    margin-bottom: 10px;
}

#wordToGuess {
    color: white;
    text-shadow: 2px 2px black;
}